#strict_transl {
  visibility: visible;
}

#space_transl {
  visibility: hidden;
}

#learning {
  visibility: hidden;
}

#morse_code_key {
  visibility: hidden;
}

#quiz_block {
  visibility: hidden;
}

#answer_space {
  text-transform: uppercase;
}
